html {
    height: 100%;
}

body {
    background-color: #222;
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

form {
    margin-bottom: 20px;
}

label {
    color: #ccc;
}

input[type="text"],
input[type="password"] {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
}

button[type="submit"] {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

a {
    color: #ccc;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

.card-login {
    max-width: 300px;
    min-width: 300px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container {
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    margin: 0 auto;
    padding: 20px;
}

.icon-container {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: rgb(242, 242, 242);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: normal;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    bottom: -60px;
    right: -60px;
}

.icon {
    background-image: url('/assets/images/icon.png');
    background-size: cover;
    height: 50px;
    width: 50px;
}

.icon-label {
    color: #333;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
}