html {
    height: 100%;
}

body {
    background-color: #222;
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-position: left;
    color: #fff;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

form {
    margin-bottom: 20px;
}

label {
    color: #ccc;
}

input[type="text"],
input[type="password"] {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 10px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #555;
    color: #fff;
    border: 1px solid #888;
    border-radius: 10px;
    padding: 10px;
}

input[type="text"]:hover,
input[type="password"]:hover {
    background-color: #555;
    color: #fff;
    border: 1px solid #888;
    border-radius: 10px;
    padding: 10px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #ccc;
    font-style: italic;
}


button[type="submit"] {
    background-color: #fff;
    color: #222;
    font-weight: lighter;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

a {
    color: #ccc;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

.card-login {
    max-width: 300px;
    min-width: 300px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    // drop shadow down and to the right
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-login-2 {
    background-color: transparent;
    margin-top: 30px;
    padding: 20px;
    border: none;
    box-shadow: none;
}

.card-login-2 button {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #222;
    font-size: 90%;
    font-weight: lighter;
}

.spacer {
    flex-grow: 1;
}

.container {
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    margin: 0 auto;
    padding: 20px;
}

.icon-container {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: rgb(242, 242, 242);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: normal;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    bottom: -16px;
    right: -52px;
}

.icon {
    background-image: url('/assets/images/icon.png');
    background-size: cover;
    height: 50px;
    width: 50px;
}

.icon-title {
    color: #333;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
}

.footer {
    font-style: italic;
    font-weight: lighter;
}