ErrorDocument 400 /api/errordocs/400.json
ErrorDocument 401 /api/errordocs/401.json
ErrorDocument 403 /api/errordocs/403.json
ErrorDocument 404 /api/errordocs/404.json
ErrorDocument 500 /api/errordocs/500.json
ErrorDocument 503 /api/errordocs/503.json
